.form {
  display: flex;
  border-top: 2px solid #D3D3D3;
  background-color: #FAFAFA;
}

.input {
  border: none;
  border-radius: 0;
  padding: 5%;
  width: 70%;
  font-size: 1.2em;
  height: 40%;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.sendButton {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: black;
  padding: 10px;
  display: inline-block;
  border: none;
  width: 20%;
  height: 49px;
}